<html>
	<head>
		<title>UIS-Store</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
		<div class="container center">
			<div class="jumbotron mt-5 mx-auto my auto">
  				<h1 class="display-4">Welcome to UIS-Store</h1>
  				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  				<hr class="my-4">
  				<p>Basdasd asd dma  şalsdkas</p>
  				<a class="btn btn-primary btn-lg" href="/products" role="button">Get started!</a>
			</div>
		</div>

		
		
		
		
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

	</body>
</html>
